<div>
  <h1 class="font-bold text-4xl">ResponseRecords#index</h1>
  <% @response_records.each do |response_record| %>
  <%= link_to response_record do %>
    <div class="w-3/4 border p-3 mx-auto">
      <p>id: <%= response_record.id %></p>
      <p>name: <%= response_record.name %></p>
      <p>word_list: <%= response_record.word_list %></p>
      <p>response_image_ids: <%= response_record.response_image_ids %></p>
      <p><%= time_ago_in_words response_record.created_at %></p>
    </div>
    <% end %>
  <% end %>
</div>
