<div>
  <h1 class="font-bold text-4xl mb-3"><%= @user.id %> - <%= @user.name || @user.email %></h1>
  <div class="w-3/4 border p-3 mx-auto">
      <% @user.user_selections.each do |user_selection| %>
        <div class="p-1 border">
          <p>id: <%= user_selection.id %></p>
          <p>word_list: <%= user_selection.words %></p>
          <p>situation: <%= user_selection.situation %></p>
          <p class="text-xs">Created <%= time_ago_in_words user_selection.created_at %> ago</p>
        </div>
      <% end %>
  </div>
</div>
