<div class="container mx-auto px-4 py-4">

  <h1 class="font-bold text-4xl">
    <%= @response_board.name %>
  </h1>
  <div class="w-3/4 border p-3 mx-auto">
    <p class="text-xs mb-3 mt-3"><%= @response_board.id %></p>
    <p class="text-xs mb-3 mt-3"><%= @response_board.matching_response_record&.inspect %></p>
    <p class="text-xs mb-3 mt-3"><%= @response_board.matching_response_record&.response_labels %></p>
    <p class="text-xs mb-3 mt-3"><%= @response_board.created_at %></p>
    <p class="text-xs mb-3 mt-3"><%= @response_board.updated_at %></p>
  <p class="text-xs mb-3 mt-3"><%= time_ago_in_words(@response_board.created_at) %> ago</p>
       <%= response_nav_for(@response_board, current_user.current_user_selection.words) %>


  <%= turbo_stream_from :response_image_list %> 
  <div id='response_image_list' class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <% @response_images.each do |response_image| %>
      <%= render partial: "response_images/response_image", locals: { response_image: response_image, word_list: @current_word_list } %>
    <% end %>
  </div>
</div>

