<%= turbo_frame_tag "board_images" do %>
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">

    <% images.each do |board_image| %>
      <div id="<%= dom_id board_image %>" class="relative w-full">
        <div class="bg-white rounded-lg shadow overflow-hidden group">
          <div class="relative w-full h-0 pb-[100%]"> <!-- Aspect Ratio Box -->
            <% if board_image.display_image.attached? %>
              <%= image_tag board_image.display_image, class: "absolute top-0 left-0 w-full h-full object-contain", data: { action: "click->speech#speak" } %>
            <% else %>
              <div class="absolute top-0 left-0 w-full h-full bg-gray-200 flex items-center justify-center text-gray-400 text-2xl font-bold" data-action="click->speech#speak"><%= board_image.label.upcase %></div>
            <% end %>
          board_image <%= board_image.class %>
            <% if board_image.private %>
              <span class="absolute top-2 right-2 bg-gray-900 bg-opacity-75 text-white text-xs px-1.5 py-0.5 rounded-full">Private</span>
            <% end %>
          </div>
          <div class="p-4">
            <p class="truncate text-gray-800 font-medium hover:text-blue-600">
              <%= board_image.label %>
            </p>
          </div>
        </div>
        <%= remove_image_button(@board, board_image) %>
      </div>
    <% end %>
  </div>
  <% end %>
