<div class="mx-auto px-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl font-bold mb-4"><%= @image.name.humanize %></h1>
  <div class="flex flex-col items-center">
    <div class="m-5">
      <%= image_tag @image.display_image, class: "w-1/2 mx-auto" if @image.display_image.attached? %>
    </div>
    <p class="my-5 text-center">
      Category: <%= @image.category %>
    </p>
    <div class="m-5 p-3 border w-1/2 mx-auto">
      <p class="my-5">
        <% if @ai_enabled %>
         <%= generate_image_button(@image) unless @image.display_image.attached? %>
        <% else %>
          <%= content_tag(:div, content_tag(:p, "AI is disabled. Enable AI or upload image manually."), class: "p-2 shadow text-center") if !@image.display_image.attached? %>
        <% end %>
      </p>

      <p class="my-5">
        <%= @image.ai_prompt %>
      </p>
    </div>

    <div class="flex flex-col sm:flex-row sm:space-x-2 my-2">
      <%= purge_saved_images_button(@image) %>
      <%= link_to "Edit", edit_image_path(@image), class: "text-white shadow rounded-lg py-2 px-4 bg-cyan-700 mb-2 sm:mb-0 font-medium text-center" %>
      <%= link_to "Crop", crop_image_path(@image), class: "text-white shadow rounded-lg py-2 px-4 bg-cyan-700 font-medium text-center" %>
    </div>
  </div>
</div>
