<nav class="bg-gray-800">
    <div class="flex items-center justify-between px-4 py-3 md:py-4 md:px-6">
        <a href="/" class="text-white font-semibold text-lg">
            SpeakEZ
        </a>
        <div class="hidden md:flex items-center space-x-4 ml-4 md:ml-10">
            <% if user_signed_in? %>
            <%= link_to "My Boards", boards_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "Responds Boards", response_boards_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>

            <%= link_to "Images", images_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium", form_class: "inline-block" %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link_to "Login", new_user_session_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
        </div>
        <button id="menu-btn" class="md:hidden">
            <svg class="h-6 w-6 text-gray-300 hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
            </svg>
        </button>
    </div>
    <!-- Mobile menu -->
    <div id="menu" class="hidden md:hidden">
        <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">About</a>
        <a href="#" class="block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white">Contact</a>
        <% if user_signed_in? %>
        <%= link_to "My Boards", boards_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <%= link_to "Images", images_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white", form_class: "inline-block" %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <%= link_to "Login", new_user_session_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <% end %>
  </div>
</nav>
