<!DOCTYPE html>
<html>
  <head>
    <title>SpeakEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-50 h-screen">
    <%= render "layouts/navbar" %>
    <div class="relative min-h-screen overflow-hidden bg-gray-50 p-6 pt-8 pl-20 ">
       <%= render "layouts/notice" %>
       <%= render "layouts/alert" %>
      <%= yield %>
    </div>

  </body>
</html>
