<!DOCTYPE html>
<html>
  <head>
    <title>SpeakEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true, type: "module" %>
    <script src="https://kit.fontawesome.com/7747fb4a3a.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-stone-50" data-controller="ai" data-ai-mode="<%= @ai_enabled %>" data-ai-enabled-global="<%= @ai_global %>">
    <%= render "layouts/navbar" %>
    <%= render "layouts/notice" %>
       <%= render "layouts/alert" %>
    <div class="justify-center p-2 md:p-4">
    <%= render "layouts/current_selection" if user_signed_in? && @ai_enabled %>
    <%= render "images/find_or_create" if user_signed_in? %>

      <%= yield %>

    </div>
    <script>
      // Simple JavaScript to toggle the mobile menu
      document.addEventListener('DOMContentLoaded', () => {
        const menuBtn = document.getElementById('menu-btn');
        const menu = document.getElementById('menu');

        menuBtn.addEventListener('click', () => {
          menu.classList.toggle('hidden');
        });
      });
    </script>

  </body>
</html>
