<!DOCTYPE html>
<html>
  <head>
    <title>SpeakEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
       <%= javascript_include_tag "application", type: "module" %>
       <script src="https://kit.fontawesome.com/7747fb4a3a.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-teal-100 h-full">
    <div class="bg-gray-800 h-full">
      <div class="flex items-center justify-between px-4 py-3 md:py-4 md:px-6">
        <%= link_to @board do %>
          <h1 class="text-xl font-bold text-white p-2 outline rounded-lg">
            <%= icon("fa-solid", "arrow-left") %> <%= @board.name %>
          </h1>
        <% end %>
        <div class="text-xs text-white">  <%= @board.static? ? "STATIC MODE" : "BETA MODE" %></div>
      </div>
    </div>
    <div class="pt-3" data-controller="static-board">
      <div class="text-center">
        <ul class="flex justify-center text-4xl font-bold" id="the-list" data-static-board-target="list"></ul>

        <div class="mx-auto w-1/2 p-4 flex justify-around">
          <button class="bg-gray-100 rounded-lg py-3 px-5 font-medium" data-action="click->static-board#clearList">Clear</button>
          <button class="bg-green-100 rounded-lg py-3 px-5 font-medium" data-action="click->static-board#speakList">Speak</button>
        </div>

      </div>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 m-3">

        <% @board_images.each do |board_image| %>
          <div id="<%= dom_id board_image %>" class="w-full" data-controller='static-image' data-static-image-label="<%= board_image.label.upcase %>" data-static-image-target="wrapper" data-action="click->static-image#speak">
            <div class="bg-white rounded-lg shadow overflow-hidden group cursor-pointer" data-action="click->speech#speak">
              <div class="relative w-full h-0 pb-[100%]"> <!-- Aspect Ratio Box -->
              <% if board_image.display_image.attached? %>
                <%= image_tag board_image.display_image, class: "absolute top-0 left-0 w-full h-full object-contain" %>
                <% else %>
                  <div class="absolute top-0 left-0 w-full h-full bg-gray-200 flex items-center justify-center text-gray-400 text-2xl font-bold"><%= board_image.label.upcase %></div>
                <% end %>
                <% if board_image.private %>
                  <span class="absolute top-2 right-2 bg-gray-900 bg-opacity-75 text-white text-xs px-1.5 py-0.5 rounded-full">Private</span>
                <% end %>
              </div>
              <div class="p-1">
                <p class="truncate text-gray-800 font-small hover:text-blue-600 text-center">
                  <%= board_image.label %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
