<!DOCTYPE html>
<html>
  <head>
    <title>SpeakEasy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen overflow-hidden">
    <div class="bg-blue-600 text-white shadow-md">
      <div class="container mx-auto">
        <div class="justify-between items-center">
        <%= link_to @board do %>
          <h1 class="text-xl font-bold text-white-700"><%= icon("fa-solid", "arrow-left") %></h1>
        <% end %>
          </div>
      </div>
    </div>
    <div class="bg-gray-100">
       <%= render "layouts/notice" %>
       <%= render "layouts/alert" %>
      <%= yield %>
    </div>

  </body>
</html>
